body { 
    padding-top: 70px;
}

html {
    overflow-y: scroll;
}

.panzer-nav {
    background-color: #214c6c;
    color: #000;
}

.error {
    color: firebrick;
}

.addRemoveAuthorButton {
    width: 20px;
}

.itemId {
    visibility: hidden;
}

#unified-inputs.input-group { width: 100%; }
#unified-inputs.input-group input { width: 50% !important; }
#unified-inputs.input-group input:last-of-type { border-left: 0; }



